@import "tailwindcss";
@import "tailwindcss/preflight";
@import "stream-chat-react/dist/css/v2/index.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.str-chat {
  --str-chat__primary-color: theme(colors.red.500);
  --str-chat__active-primary-color: theme(colors.red.600);
  --str-chat__disabled-color: theme(colors.gray.200);
  --str-chat__cta-button-border-radius: theme(borderRadius.DEFAULT);
}

.str-chat__channel-search.str-chat__channel-search--with-results.str-chat__channel-search--inline {
  height: fit-content;
}



/* .str-video__participant-details {
  color: white;
}

.str-video__menu-container {
  color: white;
}

.str-video__notification {
  color: white;
} */
